sudo: required
language: node_js
node_js:
  - "stable"
deploy:
  provider: heroku
  buildpack: https://github.com/kevinseguin/heroku-buildpack-meteor
  api_key:
    secure: "7cb05821-4d03-49e9-9c60-ba837546e80b"
  app:
    master: agilidad-ci
  run: "heroku config:add ROOT_URL=http://agilidad-ci.herokuapp.com"
